language: perl
perl:
  - "5.32"
  - "5.30"
  - "5.28"
  - "5.26"
  - "5.24"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
before_install:
  - cpanm --local-lib=~/perl5 local::lib && eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)
  - cpanm --notest Pod::Readme
install: 
  - cpanm --quiet --installdeps --with-develop --notest --skip-satisfied .
  - cpanm --quiet --notest --skip-satisfied Devel::Cover
script:
  - perl Build.PL && ./Build build && cover -test
  - prove -l xt
after_success:
  - cpanm --quiet --notest --skip-satisfied Devel::Cover::Report::Coveralls
  - cover -report coveralls
env: RELEASE_TESTING=1 AUTOMATED_TESTING=1 AUTHOR_TESTING=1
